.login-form{
    width: 300px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9ea;
}

label{
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], input[type="password"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
h2{
    text-align: center;
    color: #4343bced;
}   